$konex-dark-blue: #112644;
$konex-navy-blue: #091F5F;
$konex-blue: #1F487E;
$konex-blue-opacity-50: rgba(31, 72, 126, 0.5);
$konex-icon-blue: #1966C9;
$konex-icon-blue-opacity-25: rgba(25, 102, 201, 0.25);
$konex-icon-yellow: #FDD72D;
$konex-gold: #DFBD3B;
$konex-light-blue-gray: #7F8A99;
$konex-dark-blue-gray: #2A3C56;
$konex-off-blue: #3B5998;
$konex-off-white: #EEEEEE;
$konex-off-yellow: #FFF2C9;
$konex-gray: #707070;
$konex-messaging-blue: #1F4897;
$konex-messaging-gray: #E8ECF2;

$xlog-blue: #2999d0;
