<header>
  <input type="image" img id="profile-logo" src="assets/Images/konex-white-2.png" alt="Konex Logo">
<div id="menu-at-right"> 
  <input type="image" img id="notif-logo" src="assets/Images/notif-white.png" alt="Notification Icon">
  <input type="image" img id="brand-logo-icon" src="assets/Images/tupac.jpg" alt="Brand Logo Icon"> 
  <button id="profile-text-button">
  <p>Brand Name</p>
  </button>
  <input type="image" img id="more-vert-icon" src="assets/Images/ic_more_vert_white.png" alt="More Vert Icon">
</div> 
</header>