<div>
  <mat-card class="businessCardPageContainer">
    <mat-card-content>
      <mat-card>
        <mat-card-content class="businessCardWrapper">
          <div class="logoWrapper">
            LOGO HERE
          </div>
          <div class="detailsWrapper">
            <div id="companyNameWrapper">
              COMPANY NAME
            </div>
            <div id="cardHolderNameWrapper">
              CARD HOLDER NAME
            </div>
            <div id="jobTitleWrapper">
              JOB TITLE
            </div>
            <div id="contactDetailsWrapper">
              <div id="contactNumber">CONTACT NUMBER</div>
              <div id="emailAddress"><a href="https://www.google.com">COMPANY EMAIL</a></div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>