<div>
  <mat-card class="businessCardPageContainer">
    <mat-card-content>
      <div #content id="content">
      <mat-card id="capture" class="businessCardContainer" [ngStyle]="{'background-image': 'url(' + backgroundUrl + ')', 'background-repeat': 'no-repeat', 'background-size': '50% 475px'}">

        <div class="dragBoundary businessCardWrapper" [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }" #myBounds>
            <!-- <canvas #myCanvas id="canvas" width="700" height="300"></canvas> -->
          <div class="logoWrapper" ngDraggable [bounds]="myBounds" [inBounds]="true" mwlResizable [enableGhostResize]="true" [resizeSnapGrid]="{left: 50, right: 50}" [resizeEdges]="{bottom: true, right: true, top: true, left: true}">
            <div class="upload-btn-wrapper">
                <!-- <button class="btn">Upload a file</button>
                <input type="file" name="myfile" /> -->
                <img [src]="url"  [ngClass]="{'hideButton': !hasUploadedImage}" height="140"> <br/>
                <button class="btn" [ngClass]="{'hideButton': hasUploadedImage}">Upload a file</button>
                <input type='file' (change)="onSelectFile($event)"/>
            </div>
          </div>
          <div class="detailsWrapper">
            <div id="companyNameWrapper" class="textContent">
              <div ngDraggable [bounds]="myBounds" [inBounds]="true"><input type="textbox" placeholder="Put company name here"/></div>
            </div>
            <div id="cardHolderNameWrapper" class="textContent">
                <div ngDraggable [bounds]="myBounds" [inBounds]="true"><input type="textbox" placeholder="Put card holder name here"/></div>
            </div>
            <div id="jobTitleWrapper" class="textContent">
                <div ngDraggable [bounds]="myBounds" [inBounds]="true"><input type="textbox" placeholder="Put job title here"/></div>
            </div>
            <div id="contactDetailsWrapper" class="textContent" ngDraggable [bounds]="myBounds" [inBounds]="true">
              <div id="contactNumber">(02) 356-1234</div>
              <div id="emailAddress"><a href="https://www.google.com">email@email.com</a></div>
            </div>
          </div>
          <div class="backgroundButton background-btn-wrapper">
              <button class="backgroundBtn2" [ngClass]="{'hideButton': hasUploadedBackgroundImage}">Upload a file</button>
              <input type='file' (change)="onSelectBackground($event)"/>
          </div>
        </div>
      </mat-card>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="downloadButtonContainer">
        <!-- <a href="#" (click)="downloadImage($event)">
          <button type="submit">Download as IMG</button>DOWNLOAD
        </a> -->
        <!-- <a href="#" (click)="downloadAsImage($event)">
          <button type="submit">Download as IMG</button>DOWNLOAD AS IMAGE
        </a> -->
        <button (click)="downloadAsImage()">to image</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>