@import "variables";

#profileComponentCard {
    width: 1000px;
    margin: auto;
    padding: 20px;
}

#uploadCoverPhotoIcon{
    // border-radius:100px;
    // background-color: #1f487e;
    width:30px;
    height:30px;
    /* position:relative; */
    left:5px;
    top:5px;
    float: left; 
    cursor: pointer;
}

.uploadCoverButton{
    float: right;
    border-radius:150px;
    background-color: #1f487e;
    font-size: 0px;
    align-items: center;
    cursor: pointer;
    border: none;
}

.uploadCoverButton:hover{
    width:200px;
    background-color: #1f487e;
    border-color: #1f487e;
    // float: right;
    font-size: 15px;
    color: white;
    align-items: center;
    //position: absolute;
}

#coverPhoto{
    position: absolute;
}

#coverPhotoButton{
    position: relative;
    z-index: 1;     

}


#brandLogoWrapper {
    width: 10em;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 21.5em;
    left: 5em;
    z-index: 1;
}

#brandNameWrapper {
    width: 795px;
    height: 100px;
    padding-left: 14.5em;
    position: absolute;
    top: 280px;
    left: 20px;
    display: flex;
    align-items: flex-end;

    /* IE10+ */
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.8) 130%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.8) 130%);

    /* Opera */
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.8) 130%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(40, rgba(0, 0, 0, 0.1)), color-stop(130, rgba(0, 0, 0, 0.8)));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.8) 130%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.8) 130%);
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

h2 {
    display: inline-flex;
}

a:link{
    color: #039be5;
    text-decoration: none;
}

#typeAndFollowersWrapper {
    position: absolute;
    top: 27em;
    left: 16em;
    padding-top: 5px;
}

#companyType {
    font-size: 24px;
    margin-right: 0.5em;
}

#followerCount {
    font-size: 18px;
}

#aboutUsSection {
    padding-top: 500px;
    position: relative;
}

#contactPersonSection {
    padding-top: 3em;
    position: relative;

    .contactPersonLabel {
        h2 {
            white-space: nowrap;
            overflow: hidden;
            // width: 5em;
        }
        display: flex;
    }
}

#aboutUsContentWrapper {
    display: flex;
}

#companyDescWrapper {
    width: 45em;
    padding-right: 1em;
    line-height: 22px;
}

#brandLogoWrapper {
    max-height: 10em;
    max-width: 10em;
}

#brandLogoSubWrapper {
    background-color:  #FFFFFF;
    border-radius: 200px;
    width: 140px;
    height: 140px;
    border-color: grey;
    border: 0.5px;
    border-style: ridge;
}

#companyBrandLogo {
    object-fit: contain;
    width: 110px;
    height: 110px;
    padding-top: 1em;
}

#editProfileWrapper {
    padding-bottom: 1em;
}

.editProfileButtonLabel {
    display: inline-flex;
    align-items: center;
}

.editProfileButton {
    align-items: center;
    cursor: pointer;
    background-color: #1F487E;
    border: none;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    text-align: center;
    transition: 0.2s;
    margin-left: 835px;
    color: #FFFFFF;
    font-size: 0px;
}

.editProfileButton:hover {
    width: 130px;
    border-radius: 10px;
    margin-left: 750px;
    font-size: 15px;
}

.editBrandButton    {
    cursor: pointer;
    background-color: #1F487E;
    border: none;
    border-radius: 50px;
    box-sizing: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}

.editBrandButtonLabel {
    &.hasIcon {
        display: flex;
        align-items: center;
    }
    padding: 2px;
}

.editBrandButtonText {
    padding: 2px;
}

#addContactImage {
    Float: right;    
    border-radius: 100px;
    background: #1F487E;
    width: 30px;
    height: 30px;
}
#editIcon {
    background-color: white;
    border: white;
    cursor: pointer;

}

.brandDescWrapper {
    padding-bottom: 1em;
}

.brandDescLabel {
    font-weight: 600;
    padding-bottom: 3px;
}

.brandDescInfo, .contactPersonInfo {
    &.hasIcon {
        display: flex;
        align-items: center;

        img.imgIcon {
            margin-right: 0.25em;
            width: 1.25em;
        }
    }
    padding-bottom: 6px;
}

.contactPersonCardWrapper1 {
    padding: 1em;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    flex: 1
}

.contactPersonCardWrapper2 {
    padding: 1em;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    flex: 1
}

.contactPersonCard {
    width: 100%;

    mat-card-content {
        display: flex;
        flex-wrap: wrap;
    }
}
.contactPersonImgSubWrapper {
    border-radius: 50%;
    overflow: hidden;
    background: white;
    width: 8em;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D3D3D3;

    img {
        max-height: 8em;
        max-width: 8em;

        &.contactPersonImgPlaceholder {
            width: 7em;
        }
    }
}

.contactPersonDetails {
    padding-left: 1em;
}

.contactPersonName {
    font-weight: 600;
}

.contactPersonMenuWrapper {
    position: absolute;
    top: 0;
    right: 0;
}


/* Add Contact */
.addContactButtonLabel {
    display: inline-flex;
    align-items: center;
}

.addContactButton {
    // align-items: center;
    cursor: pointer;
    background-color: #1F487E;
    border: none;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    // text-align: center;
    transition: 0.2s;
    margin-left: 755px;
    color: #FFFFFF;
    font-size: 0px;
}

.addContactButton:hover {
    width: 180px;
    border-radius: 10px;
    margin-left: 620px;
    font-size: 15px;
}
