#coverPhotos{
    display: flex;
    height: 360px;
    
}

.images{
    position: relative;
    overflow: hidden;
    
}

#leftImage{
    width: 650px;
    border: 2px solid white;
    border-right: 1px solid white;
}

#rightImages{
    width: 320px;
}

#rightTwoImages {
    height: 50%;
    border: 2px solid #FFF;
    border-left: 1px solid #FFF;
    
}


img {
    position: absolute;
    width: 100%;

}

