<div id="templateOptionsWrapper">
  <mat-card class="templateOptionWrapper">
      <div class="templateOptionBox">
        <div id="doublePhotoTemplate" class="templateOption centerContent" tabindex="0" (click)="selectTemplate(1)">
            <div class="stretchContent centerContent borderRight"></div>
            <div class="stretchContent centerContent"></div>
        </div>
      </div>
  </mat-card>
  <mat-card class="templateOptionWrapper">
      <div class="templateOptionBox">
          <div id="triplePhotoTemplate" class="templateOption centerContent" tabindex="0" (click)="selectTemplate(2)">
            <div class="stretchContent centerContent verticalContent">
                <div class="stretchContent centerContent"></div>
                <div class="stretchContent centerContent borderTop"></div>
            </div>
          </div>
      </div>
  </mat-card>
</div>